from __future__ import annotations

[% if orm_type == "sqlalchemy" %]from sqlalchemy.orm import DeclarativeBase


class Base(DeclarativeBase):
    pass
[% else %]from sqlmodel import SQLModel

Base = SQLModel
[% endif -%]
